@model Bet.Models.ViewModels.GroupViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["GroupViewModels"]</h2>
<p>@ViewData["GroupViewModels"].ToString()</p>

