@model Bet.DTO.NewBetDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Bet</h2>

<form>
    <div class="form-group">
        <label>Event Name</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Date of Event</label>
        <input type="datetime" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Last Bet Date</label>
        <input type="datetime" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Last Bet Date</label>
        <input type="datetime" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Home Team</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Home Team Score</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Visitor Team</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Visitor Team Score</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Group Name</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Group Joint Code</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Bet Amount</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Bet Amount</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Select Team</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Guess</label>
        <input type="text" value="" class="form-control" />
    </div>
    <button class="btn btn-primary">Make Bet</button>
</form>