@model Bet.DTO.NewBetDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Bet</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Bet!</h4>
        <hr />
      
     
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
