
@using Microsoft.Ajax.Utilities
@model Bet.Models.ViewModels.PlayerViewModels

@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello @Model.Player.FirstName!</h1>
<h3>Account Information:</h3>

<h4>Last Name: @Model.Player.LastName</h4>
<h4>Membership Type: @Model.Player.MembershipType</h4>
<h4>Email: @Model.Player.Email</h4>
<p></p>


