
@using Microsoft.Ajax.Utilities
@model Bet.Models.ViewModels.PlayerViewModels

@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Player.UserName</h2>
<p>Hi @Model.Player</p>
<p>Here are your bets:</p>


