
@model Bet.Models.ViewModels.PlayerViewModels

@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["PlayerViewModels"]</h2>
<p>@ViewData["PlayerViewModels"].ToString()</p>

